.main{
    background-color: rgb(218, 208, 178);
    color: black;
    order: 2;
    flex: 1 1 auto;
}/* 
left: 0px;
    height: 937px;
    padding-top: 0px;
    padding-left: 220px;
    padding-right: 340px;
    padding-bottom: 0px;
*/

.table{
  width: 100%;
  padding: 15px;
  height: 100%;
  border-width: 1px;
  overflow: auto;
  
}

.table-input{
  width: 100%;
  padding: 10px;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td, th {
    border: 3px solid #131111;
    text-align: center;
    padding: 8px;
  }

/*  tr:nth-child(even) {
    background-color: #c7c7c7;
  }*/
  
tr{
  background-color: rgb(216, 214, 209);

}
tr:hover{
  cursor: pointer;
  background-color: rgb(255, 0, 0);
}




