<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'topnav.css' %}">
        <link rel="stylesheet" href="{% static 'sidenav.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'layout.css' %}">
        <link rel="stylesheet" href="{% static 'chat.css' %}">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="{% static 'pop-up.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        
         <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.6.1/randomColor.min.js" integrity="sha512-vPeZ7JCboHcfpqSx5ZD+/jpEhS4JpXxfz9orSvAPPj0EKUVShU2tgy7XkU+oujBJKnWmu4hU7r9MMQNWPfXsYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="layout">
            <div class="sidebar">
                <div class="title">
                    Hyper
                </div>
                    {% if user.is_authenticated  %}
                        <div class="top-page">
                            <div>
                                <p>User: {{user.username}}</p>
                                <p>Coins :{{user_data.Coins}}</p>
                                <p>Money: {{user_data.Money}}</p>
                                <p>Profit: {{user_data.Profit}}</p>
                            </div>
                        </div>

                        <div class="middle-page">
                            <lu>
                                
                                <li class="sub-title">Growrate:</li>
                                <li class="sub-title">Total coins circulation: {{Global_Information.coins}}</li>
                                <li class="sub-title">Total players: {{Global_Information.Players_online}}</li>
                                <li class="sub-title">Coin minimum value:</li>
                                

                            </lu>
                            <div class="buy">
                                
                            </div>

                            <!--<div class="Buy">

                                <div id="title">Buy</div>
                                Coin price:
                                
                                <form id="Transaction-form-buy-house" >
                                    {% csrf_token %}
                                    {{ form_transaction_buy }}
                                    <input type="submit" name ="Transaction-form-buy-house-input" class="btn btn-primary" value="Create transaction" />
                                </form>

                                <script>
                                    $("#Transaction-form-buy-house").submit(function (e) {
                                    // preventing from page reload and default actions
                                    e.preventDefault();
                                    // serialize the data for sending the form data.

                                    var serializedData = $(this).serialize();
                                    // make POST ajax call

                                    $.ajax({
                                        type: 'POST',
                                        url: "post/ajax/Message/POST/" + "taker-transaction-buy-house/",
                                        data: serializedData,
                                        success: function (response) {
                                            window.location.href = "{% url 'index' %}"

                                        },
                                        error: function (response) {
                                            window.location.href = "{% url 'login' %}"
                                        }
                                    })
                                })
                                </script>
                            </div>-->

                            <div class="Sell">
                                <div id="title">Sell</div>

                                <form id="Transaction-form-sell" >
                                    {% csrf_token %}
                                    {{ form_transaction_sell }}
                                    <input type="submit" name ="Transaction-form-sell-input" class="btn btn-primary" value="Create transaction" />
                                </form>

                                <script>
                                    $("#Transaction-form-sell").submit(function (e) {
                                    // preventing from page reload and default actions
                                    e.preventDefault();
                                    // serialize the data for sending the form data.

                                    var serializedData = $(this).serialize();
                                    // make POST ajax call

                                    $.ajax({
                                        type: 'POST',
                                        url: "post/ajax/Message/POST/" + "taker-transaction-sell/",
                                        data: serializedData,
                                        success: function (response) {
                                            window.location.href = "{% url 'index' %}"

                                        },
                                        error: function (response) {
                                            window.location.href = "{% url 'login' %}"
                                        }
                                    })
                                })
                                </script>

                            </div>
                        </div>

                        <div class="bottow-page">
                            {% if user.is_authenticated %}
                                <div>
                                    <button onclick="login()" id="button">  Logout </button>
                                    <script>
                                        function login(){
                                            window.location.href = "{% url 'logout' %}"
                                        };
                                    </script>

                                    <lu class="sub-title">Options:
                                        <li class="sub-title">Automate this shit faggot!</li>
                                        <li class="sub-title">Yassssssssss</li>
                                    </lu>
                                    <div class="Fase">
                                        Fase : 1 2 3
                                    </div>
                                </div>

                            {% else %}
                            <div>
                            </div>

                            
                                
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="top-page">
                            <div class="login"> 
                                <button onclick="login()" id="button">  Login </button>
                                <script>
                                    function login(){
                                        window.location.href = "{% url 'login' %}"
                                    };
                                    let urlpath = "";
                                </script>
                            </div>
                        </div>

                        <div class="empty" style="background-color: rgb(218, 208, 178); height:inherit; width:inherit;"></div>
                        

                        
                    {% endif %}
                
            </div>

            <div class="chat">
                <!--
                <div class="container-fluid-music">
                    <iframe style=" border-radius:0px" src="https://open.spotify.com/embed/playlist/57Y5LgDv4GOoLrgK2BDqjR?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>-->

                <div class="container-fluid-text">
                    chat
                </div>

                <div class="container-fluid-form">
                    {% if user.is_authenticated %}
                        <form id="Message-form" >
                            {% csrf_token %}
                            {{ form_mesage }} 
                            <input type="submit" name ="Message-form-input" class="btn btn-primary" value="Create Message" />
                        </form>
                    {% endif %}
                </div>

                <script>
                    $("#Message-form###").submit(function (e) {
                    // preventing from page reload and default actions
                    e.preventDefault();
                    // serialize the data for sending the form data.

                    var serializedData = $(this).serialize();
                    // make POST ajax call

                    $.ajax({
                        type: 'POST',
                        url: "post/ajax/Message/POST/" + "taker-mesage/",
                        data: serializedData,
                        success: function (response) {
                            $("#Message-form").trigger('reset');

                        },
                        error: function (response) {
                            window.location.href = "{% url 'login' %}"
                        }
                    })
                })


                function fetchdata(){
                    $.ajax({
                        type: 'POST',
                        data: {"pk_message": pk_message,"pk_transaction": pk_transaction},
                        url: "{% url 'sender' ",
                        dataType: "json",
                        success: function (response) {
                            var instance_message = JSON.parse(response["Message"]);
                            var instance_transaction = JSON.parse(response["Transactions"]);

                            if (instance_message.length > 0) {
                                
                                pk_message = instance_message[instance_message.length-1]["pk"];
                                
                                
                                for(let i = 0;i < instance_message.length ; i++){
                                    var fields = instance_message[i]["fields"];
                                    const randomcolor = randomColor({
                                        luminosity: 'dark',
                                        format: 'rgb',
                                    });

                                    $(".container-fluid-text").append(` <div class='message'> <span style="color:${randomcolor}"> ${fields["sender"]}: </span>  ${fields["message"]} </div>`);

                                }
                            }

                            var proposals = `` ;
                            if (instance_message.length > 0) {

                                pk_transaction = instance_message[instance_transaction.length-1]["pk"];

                                for(let i = 0;i < instance_transaction.length ; i++){
                                    var fields = instance_transaction[i]["fields"];
                                    let pk = instance_transaction[i]["pk"];
                                    console.log(pk);
                                    console.log("");

                                    var user_username = fields["user_username"];
                                    var Coins = fields["Coins"];
                                    var Price = fields["Price"];
                                    var pp= fields["pp"];

                                    proposals = ` <tr id="touchable" value="${pk}">
                                                            <td> ${pk}</td>
                                                            <td> ${user_username}</td>
                                                            <td> ${Coins} </td>
                                                            <td> ${Price} </td>
                                                            <td> ${pp} </td>
                                                        </tr>`;
                                    $(".table tbody").append(proposals);

                                    
                                }

                                $("tr").click(function (){
                                        var pk_now = $(this).find("td:eq(0)").html();
                                        var user_username_now = $(this).find("td:eq(1)").html();
                                        var Coins_now = $(this).find("td:eq(2)").html();
                                        var Price_now = $(this).find("td:eq(3)").html();
                                        var PP_now = parseInt($(this).find("td:eq(4)").html());
                                        pop_form(pk_now, user_username_now, Coins_now, Price_now, PP_now );
                                    });
                            }
    
                        },
                        error: function (response) {
                            alert(response);
                        }
                    })
                }

                    pk_message = "0";
                    pk_transaction = "0";

                    $(document).ready(function(){
                        setInterval(function() {
                            fetchdata();
                        }, 500);
                    
                    });

                </script>
            </div>

            <div class="main">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Total</th>
                                <th>per coin</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="popup">
            <div class="cancel_button">&times;</div>
            <div class="popup_content"></div>
            <div class="popup_submit">

                <form id="Transaction-form-buy-player" >
                    {% csrf_token %}

                    {{form_transaction_buy}}
                    <input type="submit" name ="Message-form-input" class="btn btn-primary" value="Create transaction" />
                </form>

            </div>
            
        </div>
        <script>
            function pop_form(pk, user_username, Coins, Price, PP ){
                $('.popup').toggleClass("show-modal");
                $('.popup_content').html(`
                    <p id='Pk'>Pk: ${pk}</p>
                    <p id='SU'>Seller username:${user_username}</p>
                    <p id='Amount'>Amount:${Coins} </p>
                    <p id='TC'>Total cost:${Price}</p>
                    <p id='CC'>Cost per coin:${PP}</p>
                    `);
                $("input:hidden[name=pk]").val(pk);
                $("input:hidden[name=pp]").val(PP);

                $("#Transaction-form-buy-player").submit(function (e) {
                                // preventing from page reload and default actions
                                e.preventDefault();
                                // serialize the data for sending the form data.

                                var serializedData = $(this).serialize();
                                // make POST ajax call

                                $.ajax({
                                    type: 'POST',
                                    url: "post/ajax/Message/POST/" + "taker-transaction-buy-player/",
                                    data: serializedData,
                                    success: function (response) {
                                        window.location.href = "{% url 'index' %}"

                                    },
                                    error: function (response) {
                                        window.location.href = "{% url 'login' %}"
                                    }
                                })
                            })
            };

            $('.cancel_button').click(function(){
                $('.popup').toggleClass("show-modal")
            });

        </script>
    </body>

</html>