.popup{
    top: 250px;
    opacity: 0;
    width: 400px;
    padding: 18px 10px;
    border-radius: 5px;
    visibility: hidden;
    background: white;
    height: 400px;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
    position: relative;
    margin: auto;
}
.popup.show-modal{
    opacity: 1;
    visibility: visible;
    transition: .4s;
  }


.popup .cancel_button{
    position: absolute;
    top: 0;
    right: 0;
    background: #0569d4;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 10px;
    color: white;
    
    font-size: 45px;
    font-weight: 600;
}

