.topnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: hsl(231, 66%, 38%);
  font-family: "Roboto", sans-serif;

}

.user {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 26px;
  justify-content: start ;
}

.nav-links {
  display: flex;
  justify-content: flex-start ;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 14px 16px;
}
